<div class="modal-header">
    <h4 class="modal-title">
        <span *ngIf="!isEditMode">{{'add_storage' | translate }}</span>
        <span *ngIf="isEditMode">{{'edit_storage' | translate }}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #dataForm="ngForm" (ngSubmit)="onClickSaveBtn()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{'name_storage' | translate }}<i class="star">*</i></label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.name"
                    id= "name" name="name" #name="ngModel"
                    (ngModelChange)="onChangeNameValue(model.id, model.name)">
                    <small class="form-text error" *ngIf="name.errors?.required && name.touched">
                        {{ "is_required" | translate }}
                     </small>
                     <small class="form-text error" *ngIf="!name.errors?.required && name.touched && isDuplicatedName">
                        {{ "duplicated_value" | translate }}
                     </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{'address_storage' | translate }}<i class="star">*</i></label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.address" id="address"
                    name="address" #address="ngModel"
                    (ngModelChange)="onChangeNameValue(model.id, model.address)">
                    <small class="form-text error" *ngIf="address.errors?.required && address.touched">
                        {{ "is_required" | translate }}
                     </small>
                     <small class="form-text error" *ngIf="!address.errors?.required && address.touched && isDuplicatedName">
                        {{ "duplicated_value" | translate }}
                     </small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="!dataForm.form.valid || isDuplicatedForm()">{{'save' | translate}}</button> -->
        <div class="pull-left" *ngIf="!isEditMode">
        </div>
        <button type="submit" class="btn btn-primary" [disabled] = "!dataForm.form.valid">{{'save' | translate}}</button>
        
    </div>
</form>