<nb-card> 
    <nb-card-header>
              {{ 'bill_warehousing' | translate }}
    </nb-card-header>
    <nb-card-body>
                <form #dataForm="ngForm" (ngSubmit)="onClickSaveBtn()">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>{{'codeWarehousing' | translate }}<i class="star">*</i></label>
                            <div class="input-group">
                                <input type="text" placeholder="code" class="form-control" name="code"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>{{'storage' | translate }}<i class="star">*</i></label>
                            <div class="input-group">
                                <select class="form-control" name="nameStorage" >
                                    <option [ngValue]="item.id" *ngFor="let item of allStorages" [value]="item.id">{{item.name}}</option>
                                </select>    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>{{'NameSupplier_Warehousing' | translate }}</label>
                            <div class="input-group">
                                <select class="form-control" name="nameSupplierWarehousing" >
                                    <option [ngValue]="a.id" *ngFor="let a of allSuppliers" [value]="a.id">{{a.name}}</option>
                                </select>    
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>{{'NameUser_Warehousing' | translate }}</label>
                            <div class="input-group">
                                <select class="form-control" name="nameUser" ></select>    
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{'CreatedDate_Warehousing' | translate }}</label>
                                <div class="input-group">
                                    
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'ProductList_Warehousing' | translate }}</label>
                            <div class="input-group">
                                <input type="type" class="form-control" name="productList">  
                            </div>
                        </div>
                    </div>
                    <br>              
                    <!-- <div class="col-sm-3">
                        <label>{{'Amount_Warehousing' | translate }}</label>
                        <div class="input-group">
                            <input type="number" required pattern="[0-9]" placeholder="Amount" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>{{'Capital_Warehousing' | translate }}</label>
                        <div class="input-group">
                            <input type="number" required pattern="[0-9]" placeholder="Amount" class="form-control"/>
                        </div>
                    </div> -->
                    <div class="row">
                    <table class="table">
                        <thead>
                        <td *ngFor="let showedColumn of showedColumnList" [hidden]="!helperService.isShowedColumn(showedColumn.name , showedColumnList )"
                            [ngClass]="helperService.getSortableCssClass(sort , showedColumn.name ,   showedColumn.sortable )" (click)="onChangeSortedField(showedColumn.name , showedColumn.sortable)">{{ showedColumn.translateKey | translate }}</td>
                        <td></td>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of dataList">
                            <td *ngIf="helperService.isShowedColumn('name', showedColumnList)">{{item.name}}</td>
                            <td *ngIf="helperService.isShowedColumn('type', showedColumnList)">{{item.type}}</td>
                            <td>
                            <ng-template #popContent>
                                <div class="customize-action-button customize-edit-button" (click)="onClickEditBtn(item)">
                                <i class="fa fa-pencil" aria-hidden="true"></i> {{'edit' | translate}}
                                </div>
                                <div class="customize-action-button customize-delete-button" (click)="onClickDeleteBtn(item)">
                                <i class="fa fa-trash" aria-hidden="true"></i> {{'delete' | translate}}
                                </div>
                            </ng-template>
                            <button type="button" class="btn btn-sm btn-outline-secondary" placement="bottom" [ngbPopover]="popContent">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <ngb-pagination class="pull-right" [collectionSize]="totalSize" [(page)]="page" (pageChange)="onPageChange($event)"></ngb-pagination>
                    <br>
                    <div class="row">
                    <div class="col-sm-3">
                        <label>{{'TotalMoney_Warehousing' | translate }}</label>
                        <div class="input-group">
                            <input type="number" required pattern="[0-9]" class="form-control" name="totalMoney"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>{{'PayMoney_Warehousing' | translate }}</label>
                        <div class="input-group">
                            <input type="number" required pattern="[0-9]" class="form-control" name="payMoney"/>
                        </div>
                        </div>
                        <div class="col-sm-3">
                            <label>{{'DebtMoney_Warehousing' | translate }}</label>
                            <div class="input-group">
                                <input type="number" required pattern="[0-9]" class="form-control" name="debtMoney"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                    <div class="col-sm-6">
                        <label>{{'Note_Warehousing' | translate }}</label>
                        <div class="input-form">
                            <textarea name="note" id="note" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" [disabled]="!dataForm.form.valid" >{{'save' | translate}}</button>
                        </div>
                    </div>
                </form>
    </nb-card-body> 
</nb-card>
          