<div class="modal-header">
    <h4 class="modal-title">
        <span *ngIf="!isEditMode">{{'add_supplier' | translate }}</span>
        <span *ngIf="isEditMode">{{'edit_demo' | translate }}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #dataForm="ngForm" (ngSubmit)="onClickSaveBtn()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">{{'name' | translate }}<i class="star">*</i></label>
                    <input type="text" autofocus class="form-control" required [(ngModel)]="model.name"
                    id="name" name="name" #name="ngModel"
                    (ngModelChange)="onChangeNameValue(model.id, model.name)">
                    <small class="form-text error" *ngIf="name.errors?.required && name.touched">
                        {{ "is_required" | translate }}
                    </small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="phone">{{'phone' | translate }}<i class="star">*</i></label>
                    <input type="nummber" class="form-control" required pattern="[0-9]+" [(ngModel)]="model.phone" id="phone" name="phone"
                        #phone="ngModel" currencyMask >
                    <small class="form-text error" *ngIf="phone.errors?.required && phone.touched">
                        {{ "is_required" | translate }}
                    </small>
                    <small class="form-text error" *ngIf="phone.errors?.pattern && phone.touched">
                        {{ "number_only" | translate }}
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="code">{{'code' | translate }}<i class="star">*</i></label>
                    <input type="text" class="form-control"  name="code"
                      (ngModelChange)="onChangeSupplierCode($event)"
                         required [(ngModel)]="model.code"  placeholder="Supplier_code" #code="ngModel"/>

                    <small class="form-text error" *ngIf="code.errors?.required && code.touched">
                      {{ "is_required" | translate }}
                    </small>
                    <small class="form-text error" *ngIf="!code.errors?.required && code.touched && isDuplicatedCode">
                      {{ "duplicated_value" | translate }}
                   </small>
                  </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                      <label>{{'email' | translate }}<i class="star">*</i></label>
                      <input type="text" class="form-control" [(ngModel)]="model.email" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                      <small class="form-text error" *ngIf="helperService.isEmptyInput(email)">
                          {{ "is_required" | translate }}
                      </small>
                      <small class="form-text error" *ngIf="helperService.isWrongInputPattern(email)">
                          {{ "wrong_email_partern" | translate }}
                      </small>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                    <label for="address">{{'address' | translate }}<i class="star">*</i></label>
                    <input type="text" class="form-control" required  [(ngModel)]="model.address" id="address" name="address"
                        #address="ngModel">
                    <small class="form-text error" *ngIf="address.errors?.required && address.touched">
                        {{ "is_required" | translate }}
                    </small>
            </div>
        </div>
    </div>
        <!-- <div class="row" *ngIf="!isEditMode">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-group validation-checkboxes row">
                            <nb-checkbox status="success" [(ngModel)]="isSelectedStorages[i]" name="inputStorageId_{{i}}" class="col-sm-6" [value]="storage.id" *ngFor="let storage of allStorages; let i = index;">{{storage.name}}</nb-checkbox>
                        </div>
                    </div>
                </div>
            </div> -->

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!dataForm.form.valid" >{{'save' | translate}}</button>
    </div>
</form>
